html,
body {
  background-color: #b0d7a8;
  /* background-color: white; */
  background-image: url("https://cdn.discordapp.com/attachments/756023874054783050/812177237599322152/Spring25.png");
  background-repeat: repeat;
  background-size: 64px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0 0 12px;
}

.navbar {
  height: 60px;
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.topbar {
  background-color: #71cc55;
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}

.icon {
  height: 100%;
  justify-self: flex-start;
}

.serverName {
  justify-self: flex-start;
}

.contestName {
  justify-self: center;
}

.accountName {
  justify-self: flex-end;
}

.bottombar {
  background-color: #54ba45;
  height: 6px;
}

.droops {
  height: 30px;
  width: 100%;
  background-image: url("/droops.svg");
}

.container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 24px;
}

/* original */

.plot {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
}

.square {
  width: 60px;
  height: 60px;
  background-color: #61ae51;
  opacity: 75%;
  /*   border: 1px solid #61AE51; */
  border-radius: 6px;
}

.square:hover {
  opacity: 1;
  border: 1px solid black;
}

.section {
  display: flex;
  flex-direction: column;
}

.polaroid {
  border-radius: 12px;
  border: 12px solid white;
  background-color: white;
  /*   padding-bottom: 96px; */
}

.group {
  max-width: 480px;
  /*   border-radius: 12px; */
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  display: flex;
  width: auto;
  align-items: center;
  font-family: "Indie Flower", cursive;
  font-size: 36px;
  font-weight: 600;
  margin: 12px 6px;
  /*   transform: rotate(-10deg); */
}

.eye {
  margin-right: 3px;
}

.download {
  margin-top: 12px;
  justify-self: right;
  height: 36px;
}

/* Account calendar */

.roundHeader {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.roundHeader > img {
  height: 60px;
}

.calendar,
.board,
.card {
  display: flex;
  border: 12px ridge #61ae51;
  border-radius: 12px;
  /* background-color: #d7ebd3; */
}

.day {
  display: flex;
  flex-direction: column;
  border: double #305729;
  background-color: #D7EBD3;
  /* background-color: #ffcc91;
  background-image: url("/Tier50.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  /* padding: 12px 24px; */
}

.date {
  border-top: 1px dashed #305729;
  border-bottom: 1px dashed #305729;
  padding: 6px 0;
  margin: 12px 0 0;
}

.achieved {
  /* display: flex; */
  border-top: 1px dashed #305729;
  padding: 6px;
}

.achieved > img {
  height: 30px;
  width: 30px;
  margin-top: 6px;
  opacity: 30%;
}

.achieved > img:nth-child(odd) {
  opacity: 1;
  background-color: white;
  border-radius: 15px;
  border: solid 1px #61ae51;
}

.achieved > img:last-child {
  box-shadow: 0 0 6px pink;
}

.numberDay {
  font-size: 48px;
  margin: 0;
}

ul {
  list-style: url("https://cdn.discordapp.com/attachments/756023874054783050/813569889733443604/ListCosmo.png");
  text-align: left;
}

.newDay {
  font-size: 24px;
  margin-bottom: 24px;
}

/* Account add new day  */

form {
  margin: 0 auto;
  background-color: #d7ebd3;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 24px;
}

label {
  font-size: 24px;
  margin-right: 12px;
  margin-bottom: 3px;
}

input,
.submit {
  font-size: 24px;
  border-radius: 12px;
  height: 36px;
}

.formSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dayAndDate {
  display: grid;
  width: 384px;
  grid-template-columns: 120px 250px;
  gap: 12px;
}

.dayNumberInput {
  width: 100%;
}

.dateInput {
  width: 100%;
}

.imageUpload {
  width: 400px;
}

.textField {
  width: 384px;
  height: 120px;
  font-size: 24px;
}

.resultSelection {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
}

.flowerBox {
  width: 120px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "top"
    "bottom";
  border-radius: 12px;
}

.flowerBox > img {
  height: 96px;
  grid-area: top;
  justify-self: center;
}

.flowerBox > input {
  z-index: 5;
  grid-area: top;
  height: 24px;
  width: 24px;
}

.flowerBox > p {
  grid-area: bottom;
  margin: 0 0 6px;
}

.submit {
  align-self: flex-end;
  margin-top: 24px;
}

/* Leaderboard */

.rank {
  display: flex;
  width: 100%;
  border: double #305729;
  font-size: 30px;
}

.rank > img {
  max-height: 60px;
}

/* Overview */

.cardBox {
  display: flex;
}

.card {
  background-color: #ffd5d5;
  flex-direction: column;
  border: 12px ridge #ff5858;
}
