html,
body {
  background-color: #b0d7a8;
  background-image: url("https://cdn.discordapp.com/attachments/756023874054783050/812177237599322152/Spring25.png");
  background-repeat: repeat;
  background-size: 64px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0 0 12px;
}

.container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 24px;
}

/* original */

.plot {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
}

.square {
  width: 60px;
  height: 60px;
  background-color: #61ae51;
  opacity: 75%;
  /*   border: 1px solid #61AE51; */
  border-radius: 6px;
}

.square:hover {
  opacity: 1;
  border: 1px solid black;
}

.section {
  display: flex;
  flex-direction: column;
}

.polaroid {
  border-radius: 12px;
  border: 12px solid white;
  background-color: white;
  /*   padding-bottom: 96px; */
}

.group {
  max-width: 480px;
  /*   border-radius: 12px; */
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  display: flex;
  width: auto;
  align-items: center;
  font-family: "Indie Flower", cursive;
  font-size: 36px;
  font-weight: 600;
  margin: 12px 6px;
  /*   transform: rotate(-10deg); */
}

.eye {
  margin-right: 3px;
}

.download {
  margin-top: 12px;
  justify-self: right;
  height: 36px;
}

/* Account calendar */

.calendar,
.board,
.card {
  display: flex;
  border: 12px ridge #61ae51;
  border-radius: 12px;
  background-color: #d7ebd3;
}

.day {
  display: flex;
  flex-direction: column;
  border: double #305729;
  /* padding: 12px 24px; */
}

.date {
  border-top: 1px dashed #305729;
  border-bottom: 1px dashed #305729;
  padding: 6px 0;
  margin: 12px 0 0;
}

.achieved {
  /* display: flex; */
  border-top: 1px dashed #305729;
  padding: 6px;
}

.achieved > img {
  height: 30px;
  width: 30px;
  margin-top: 6px;
  opacity: 30%;
}

.achieved > img:nth-child(odd) {
  opacity: 1;
  background-color: white;
  border-radius: 15px;
  border: solid 1px #61ae51;
}

.achieved > img:last-child {
  box-shadow: 0 0 6px pink;
}

.numberDay {
  font-size: 48px;
  margin: 0;
}

ul {
  list-style: url("https://cdn.discordapp.com/attachments/756023874054783050/813569889733443604/ListCosmo.png");
  text-align: left;
}

.newDay {
  font-size: 24px;
  align-self: center;
  justify-self: center;
  margin: 50% 12px;
}

/* Account add new day  */

.inputSection {
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

label {
  font-size: 30px;
  margin-right: 12px;
}

input {
  font-size: 30px;
  border-radius: 12px;
}

.dayNumberInput {
  width: 60px;
}

.imageUpload {
  width: 400px;
}

.textField {
  width: 400px;
  height: 120px;
}

.submit {
  align-self: flex-end;
}

/* Leaderboard */

.rank {
  display: flex;
  width: 100%;
  border: double #305729;
  font-size: 30px;
}

.rank > img {
  max-height: 60px;
}

/* Overview */

.cardBox {
  display: flex;
}

.card {
  flex-direction: column;
  border: 12px ridge #FF5858;
}